.home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-banner {
  padding: 3rem;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.social-media-logo {
  height: 5rem;
  width: 5rem;
}
.social-media-heading {
  display: flex;
  align-items: center;
}
.social-media-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue-lightest);
}
.join-now-btn {
  border: none;
  color: var(--white-color);
  font-size: 1.5rem;
  background: linear-gradient(180deg, var(--pink-light), var(--pink-dark));
  padding: 7px 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
