.postcard {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(187, 176, 232, 0.1);
  height: auto;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.post-profile {
  box-sizing: border-box;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--blue-lightest);
}
.postcard-main {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.postcard-username {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.postcard-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.postcard-comment-tab {
  display: flex;
  align-items: center;
  background-color: rgba(187, 176, 232, 0.2);
  padding: 7px;
  border-radius: 1rem;
  gap: 3px;
  width: auto;
}
.comment-tab-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
.postcard-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-color);
  padding: 7px;
  font-size: 1.1rem;
  border-radius: 50%;
}
.postcard-icon:hover {
  background-color: rgba(187, 176, 232, 0.4);
}
.like-color {
  color: var(--red-color);
}
.postcard-main-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
.postcard-username-container {
  display: flex;
  justify-content: space-between;
}
.like-icon {
  margin-right: auto;
}
.comment-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-photo {
  height: 15rem;
  width: 90%;
  border-radius: 1rem;
}
.responsive-post-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
@media screen and (max-width: 800px) {
  .postcard {
    padding: 10px;
  }
  .postcard-main {
    width: 75%;
  }
}
