.profile-page {
  position: relative;
  box-sizing: border-box;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 60vw;
  margin: auto;
  background-color: var(--white-color);
  gap: 1rem;
  overflow-y: scroll;
}
.profile-page::-webkit-scrollbar {
  width: 3px;
}
.backward {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--blue-lightest);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.profile-img-container {
  padding: 5px;
  border-radius: 50%;
  border: 5px solid var(--blue-lightest);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-page-profile {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
.profile-section-one {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  background-color: rgba(187, 176, 232, 0.1);
  padding: 2rem;
  border-radius: 10px;
}
.profile-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.bio-text {
  max-width: 18rem;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--grey-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile-name-container {
  padding-top: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.profile-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.edit-profile-btn {
  border: none;
  background: linear-gradient(180deg, var(--pink-light), var(--pink-dark));
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
}
.followers {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 1.1rem;
}
.profile-posts {
  width: 55%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.edit-profile-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 800px) {
  .profile-page {
    align-items: center;
    padding-top: 0;
    width: 100vw;
  }
  .profile-section-one {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .followers {
    font-size: 1rem;
  }
  .profile-posts {
    width: 90%;
  }
}
