@import url("/node_modules/mockman-js/dist/style.css");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

body,
html {
  margin: 0 !important;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: var(--off-white);
}

:root {
  --white-color: #ffffff;
  --off-white: #faf9ff;
  --black-color: #191c25;
  --grey-color: #8a8da0;
  --red-color: #dc2626;
  --blue-lightest: #bbb0e8;
  --blue-dark: #80789f;
  --peach-dark: #0a0808;
  --peach-light: #ffcdc7;
  --mint-dark: #33d9d2;
  --mint-light: #88f1ec;
  --orange-dark: #f8ab4a;
  --orange-light: #f9c179;
  --pink-dark: #fd71aa;
  --pink-light: #ff98cd;
  --pink-lightest: #fffcfe;
  --yellow-dark: #fed20c;
  --yellow-light: #ffe35b;
}
.responsive-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.btn-other:hover {
  background-color: var(--pink-dark);
  color: var(--off-white);
}
.btn-cta:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.02);
}
